---
import type { Images, Members } from '@/logic/memories'

interface Props {
  id_group: string
  members: Members[]
  imagesGalery: Images[]
}

const { id_group, members, imagesGalery } = Astro.props
---
<span class="text-2xl text-yellow-300/90 shadow-text-custom mb-5"> THE {id_group.toUpperCase()} </span>

<section class="md:flex md:items-center md:gap-5 mb-5 p-5 md:p-0 grid grid-cols-4 sm:grid-cols-8 sm:gap-8 gap-5 members_group">
  {
    members.map(member => {
      const { name, isPerfil } = member
      return (
        isPerfil ? (
          <a class={`a`} href={`/character/${name}`}>
            <img
              decoding="async"
              loading="lazy"
              src={`/img/${name}/${name}-small.webp`}
              alt={`imagen de ${name}`}
              class="size-12 md:size-14 object-cover rounded-full hover:scale-110 transition duration-300"
              style="mask-image: linear-gradient(black 50%, transparent 95%);"
              style="filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8));"
            />
          </a>
        )
        : (
          <div class={`a`}>
            <img
              decoding="async"
              loading="lazy"
              src={`/img/Fallen/${name}-small.webp`}
              alt={`imagen de ${name}`}
              class="size-12 md:size-14 object-cover rounded-full hover:scale-110 transition duration-300"
              style="mask-image: linear-gradient(black 50%, transparent 95%);"
              style="filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8));"
            />
          </div>
        )
      )
    })
  }
</section>

<section class="grid grid-cols-2 md:grid-cols-4 gap-5 p-2 md:p-5 mb-10">
  {
    imagesGalery.map(({ id, image, className }) => (
      <picture class={`image-container ${className}`} data-url={image}>
        <img 
          decoding="async"
          loading="lazy"
          src={image} 
          alt={`image of ${id}`} 
          class="size-full rounded-lg object-cover cursor-zoom-in" />
      </picture>
    ))
  }
</section>

<style>
  @keyframes show {
    from {
      opacity: 0; scale: 10%;
    }
    to {
      opacity: 1; scale: 100%;
    }
  
  }

  .image-container {
    view-timeline-name: --reveal;

    animation-name: show;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
  }
</style>