---
import Layout from "@/layouts/Layout.astro"
import Modal from "@/components/Modal.astro"
import Clip from '@/sections/clip.astro'
import Date from '@/components/Date.astro'
import { results } from '@/logic/results'

const filtersCategoryDog = results.filter((res) => res.category === 'Perro-del-a침o')

const { name, imagePresentation } = filtersCategoryDog.at(0)
---

<Layout title="Resultados de los pron칩sticos 游붲">
  <main class="flex flex-col justify-center items-center p-5">

    <h1 class="text-2xl sm:text-3xl md:text-4xl font-Public mb-10 text-center text-primary"> Ganadores de los pron칩sticos 游붲</h1>

    <aside class="flex flex-col items-center justify-center mb-5">
      <p class="text-center text-2xl font-semibold"> 
        <span class="text-blue-400/90"> Categor칤a: </span> 
        <span class="text-accent"> Perro del a침o 游냤</span>
      </p>

      <picture class="sm:h-[50vh] relative h-[500px]">
        <img 
          decoding="async" 
          loading="lazy"
          src={imagePresentation} 
          alt={`Imagen de ${name}`}
          class='image-winner size-full rounded-lg'
          data-name={name}
          style="filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8));"
        />

        <span class=`font-Dancing font-bold pointer-events-none text-center absolute bottom-0 left-0 right-0 z-50 mx-auto text-6xl lg:text-6xl text-blue-300/90`>
          {name}
        </span>
      </picture>
    </aside>

    <section class="grid grid-cols-2 sm:grid-cols-3 gap-5">
      {
        filtersCategoryDog.map((result) => {
          const { name, id, images } = result
          return (
            images.map((img) => (
              <picture class={`image-container cursor-zoom-in border rounded-lg ${img.class}`} data-url={img.image}>
                <img 
                  decoding="async" 
                  loading="lazy"
                  src={img.image} 
                  alt={`Imagen de ${name}`} 
                  class='size-full rounded-lg' 
                />
              </picture>
            ))
          )
        })
      }
    </section>

    <Clip>
      <p class="text-center text-2xl font-semibold"> 
        <span class="text-blue-400/90"> Categor칤a: </span> 
        <span class="text-accent"> Clip del Ciclo 游꿡 </span>
      </p>
      <span class=`font-Dancing font-bold pointer-events-none text-center mx-auto text-6xl lg:text-6xl text-blue-300/90`>
        Clip del Ever
      </span>
    </Clip>

    <Modal className="clip-dialog" id="close-dialog" isButton={true}>
      <img decoding="async" loading="lazy" src='' alt="" id="image-clip" class="rounded-lg size-full">
    </Modal>

  </main>
  <Date />
</Layout>

<script>
  import { showModal } from '@/const/showModal'

  document.addEventListener('astro:page-load', showModal)
</script>

<script>
  import confetti from 'canvas-confetti'

  document.addEventListener('astro:page-load', () => {
    const $imagesForWinner = document.querySelectorAll('.image-winner') as NodeListOf<HTMLImageElement>

    $imagesForWinner.forEach(($image) => {
      $image.addEventListener('click', () => {
        confetti({
          particleCount: 100,
          spread: 70,
          origin: { y: 0.6 }
        })
      })
    })
  })
</script>