---
import { Characters as person } from "@/logic/character"
import SelectYourCharacter from "@/components/SelectYourCharacter.astro"
import SelectCharacterMovil from "@/components/SelectCharacterMovil.astro"
import FallenCharacters from "@/components/FallenCharacters.astro"

const firstArray = person.slice(0, 9)
const secondArray = person.slice(9, person.length)
---
<main class="flex flex-col justify-center items-center">

  <SelectYourCharacter firstArrayCharacters={firstArray} secondArrayCharacters={secondArray} />

  <SelectCharacterMovil characters={person} />

  <FallenCharacters />
</main>

<script>
  import { changeCharacterImage } from '@/const/changeCharacterImage'

  document.addEventListener('astro:page-load', changeCharacterImage)
</script>

<script>
  import Swiper from 'swiper/bundle'
  import { $ } from '@/lib/dom-selector'
  import { fallenCharacter } from '@/const/isFallenCharacter'
  import { changueColorText } from '@/const/changeCharacterImage'
  import { saveLocalStorage, getLocalStorage } from '@/const/localStorage'

  const Carrousel = () => {
    
    const lastCharacterId = getLocalStorage({ key: 'lastCharacterId' })

    const swiper = new Swiper('.swiper', {
      slidesPerView: 2,
      loop: true,
      spaceBetween: 0,
      centeredSlides: true,
      pagination: {
          el: '.swiper-pagination',
          clickable: true,
          dynamicBullets: true,
          dynamicMainBullets: 1,
      },
      navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
      },
      on: {
        init: function () {
          if (lastCharacterId) {
            const slideIndex = Array.from(this.slides).findIndex(slide => {
              const $characterLink = (slide as Element)?.querySelector('.character-link') as HTMLAnchorElement
              const { id } = $characterLink.dataset ?? null
              return id === lastCharacterId
            })

            if (slideIndex !== -1) {
                this.slideTo(slideIndex, 0)
            }
          }
        },
        slideChange: function () {
            const activeSlide = this.slides[this.activeIndex] as HTMLDivElement
            const $nameText = $('#name-text')
            const $characterLink = activeSlide?.querySelector('.character-link') as HTMLAnchorElement

            if (!$characterLink || !$characterLink.dataset) return

            const { id, genre } = $characterLink.dataset ?? null
            const { folder } = $characterLink.dataset ?? null
            const $characterPhoto = $('#image-presentation-2') as HTMLImageElement

            const isFallenCharacter = $characterLink.classList.contains('fallen-character')

            fallenCharacter({ isFallenCharacter, $characterPhoto, $nameText })

            const defaultImage = '/img/Ulises/Ulises-image-presentation.webp'

            const characterSrc = folder ? `/img/${folder}/${id}-image-presentation.webp` : `/img/${id}/${id}-image-presentation.webp`

            if (!$nameText || !$characterLink) return

            if ($characterPhoto == null) return

            changueColorText(genre, $nameText)
            saveLocalStorage({ key: 'lastCharacterId', value: id })
            $characterPhoto.src = characterSrc ?? defaultImage
            $nameText.textContent = id
            $characterPhoto.setAttribute('transition:name', `Character-${id}`)
        },
      },
    })
    swiper.init()
  }

  document.addEventListener('astro:page-load', Carrousel)
</script>

