---
import { Characters as person } from "@/logic/character"
import SelectYourCharacter from "@/components/SelectYourCharacter.astro"
import SelectCharacterMovil from "@/components/SelectCharacterMovil.astro"

const firstArray = person.slice(0, 8)
const secondArray = person.slice(8, person.length)
---
<main class="flex flex-col justify-center items-center">

  <SelectYourCharacter firstArrayCharacters={firstArray} secondArrayCharacters={secondArray} />

  <SelectCharacterMovil characters={person} />
  
</main>

<script>
  import { $, $$ } from '@/lib/dom-selector'

  const changeCharacterImage = () => {
    const $imageLink = $$('.character-link') as globalThis.NodeListOf<HTMLAnchorElement>
    const $characterPhoto = $('#image-presentation') as HTMLImageElement
    const $nameText = $('#name-text-big') as HTMLSpanElement
    let $lastActiveImage: HTMLImageElement | null = null

    $imageLink.forEach((link) => {
        const id = link.href.split('/').at(-1)
        
        const $characterSmallImage = $$(`#character-${id}`) as globalThis.NodeListOf<HTMLImageElement>

        const characterSrc = `/img/${id}/${id}-image-presentation.webp` ?? '/img/Yahir/Yahir-image-presentation.webp'
        
        link.addEventListener('mouseenter', () => {

            $nameText.textContent = id

            localStorage.removeItem('lastHoveredImageId')
            if ($lastActiveImage) {
                $lastActiveImage.classList.remove('active')
            }

            $characterPhoto.src = characterSrc
            $characterPhoto.alt = `Imagen de ${id}`

            $characterPhoto.setAttribute('transition:name', `Character-${id}`)

            $characterSmallImage.forEach((image) => image.classList.add('active'))

            $lastActiveImage = $characterSmallImage[0]

            localStorage.setItem('lastHoveredImageId', id)
            localStorage.setItem('lastName', id)
        })

        const lastHoveredImageId = localStorage.getItem('lastHoveredImageId')
        const lastName = localStorage.getItem('lastName')
        if(lastHoveredImageId === id) {
            $characterPhoto.src = characterSrc
            $characterPhoto.setAttribute('transition:name', `Character-${id}`)
            $characterSmallImage.forEach((image) => image.classList.add('active'))
            $nameText.textContent = lastName
        }
    })
  }

  document.addEventListener('astro:page-load', changeCharacterImage)
</script>

<script>
  import Swiper from 'swiper/bundle'
  import { $, $$ } from '@/lib/dom-selector'

  const Carrousel = () => {
    const swiper = new Swiper('.swiper', {
      slidesPerView: 2,
      loop: true,
      // freeMode: true,
      spaceBetween: 30,
      centeredSlides: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      on: {
        init: function () {
        },
        slideChange: function () {
          const activeSlide = this.slides[this.activeIndex] as HTMLDivElement
          const $nameText = $('#name-text')
          const $characterLink = activeSlide?.querySelector('.character-link') as HTMLAnchorElement
          const id = $characterLink?.href.split('/').at(-1)
          const characterSrc = `/img/${id}/${id}-image-presentation.webp`
          const $characterPhoto = $('#image-presentation-2') as HTMLImageElement

          if (!$nameText || !$characterLink) return

          localStorage.setItem('lastImage', id)
          $characterPhoto.src = characterSrc
          $nameText.textContent = id
          $characterPhoto.setAttribute('transition:name', `Character-${id}`)

          const lastHoveredImageId = localStorage.getItem('lastImage')
          if (lastHoveredImageId === id) {
            $characterPhoto.src = characterSrc
            $characterPhoto.setAttribute('transition:name', `Character-${id}`)
          }
        },
      },
    })

    swiper.init()
  }

  document.addEventListener('astro:page-load', Carrousel)
</script>

