---
import { fallenCharacters } from '@/logic/fallenCharacters'
---

<small class="hidden md:block lg:mt-20 md:mt-10 mb-5 text-red-300/80"> Compañeros Caídos </small>
<article class="container-fallen">
  {
    fallenCharacters.map(({ folder, id, name, imageSmall }) => (
      <div 
        class="character-link fallen-character relative md:w-32 md:h-20 lg:w-36 lg:h-24"  
        data-folder={folder} 
        data-id={id}
      >
        <img 
          src={imageSmall} 
          alt={`Imagen small de ${name}`}
          decoding="async"
          loading="lazy"
          class="lg:size-28 md:size-24 object-cover rounded-lg -top-5 scale-95 z-10 absolute sm:left-5 lg:left-5 left-0 saturate-0 hover:scale-110 transition duration-500 hover:saturate-150" 
          style="mask-image: linear-gradient(black 50%, transparent);"
          id={`character-${id}`}
        />
        <div class="absolute inset-0 character-link-background"></div>
      </div>
    ))
  }

</article>

<style>
  .character-link-background {
    opacity: .25;
    background: linear-gradient(#fff 0%, #ffffff80 30%, #0000 95%);
  }

  .active {
    filter: saturate(150%);
    transform: scale(1.1);
  }

  @media (min-width: 768px) {
    .container-fallen {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-auto-rows: 40px;
      grid-gap: 1rem;
      row-gap: 2rem;
  
      div {
        grid-column: span 2;

        &:nth-child(10n + 6) {
          grid-column-start: 2;
          grid-column-end: 4;
        }
      }
    }
  }

</style>