---
import HamburguerButton from "@/components/HamburguerButton.astro"
import type { Links } from '@/types/links'

const pages: Links[] = [
  { name: 'Inicio', href: '/', label: 'Ir al inicio' },
  { name: 'Votaciones', href: '/votos', label: 'Ir a votaciones'},
  { url: '/logos/logo-full.webp', href: '/', label: 'Ir al inicio', image: true },
  { name: 'Resultados', href: '/resultados', label: 'Ir a la página de resultados'},
  { name: 'Categorías', href: '/categorias', label: 'Ir a la página de Categorías'}
]
---

<header class="mb-10 h-16 md:h-24 max-w-[100vw] lg:h-24">
  <nav class="hidden group md:flex size-full items-center justify-between px-10 lg:justify-center">
    {
      pages.map(({ name, href, label, image, url }) => (
        <a href={href} 
         class="nav-item relative size-full lg:size-full flex select-none flex-col items-center justify-center gap-1 text-center text-sm sm:text-xl sm:uppercase lg:flex lg:px-7 xl:px-10"
         aria-label={label}
          >
          <span class="z-10">{name}</span>
          <div class="background absolute -z-10 size-full" />
            {image 
              && 
              <img 
                src={url} 
                alt="Logo del Grupo M" 
                class="absolute inset-0 blur-2xl shadow-xl size-full object-cover "
              />
              <img 
                src={url} 
                alt="Logo del Grupo M" 
                class="absolute inset-0 size-full object-cover z-10"
                style="filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));"
              />
            }
        </a>
      ))
    }
  </nav>

  <HamburguerButton links={pages}/>

  <hr
    class="h-[2px] w-full border-t-0"
    style="background:linear-gradient(to right, transparent 0%, white 50%, transparent 100%)"
  />
</header>

<style>
  .nav-item .background {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, rgba(221, 221, 221, 20%) 0%, transparent 100%);
		transition: opacity 0.3s;
	}
  .nav-button{
    display: none
  }
	.nav-item:hover .background,
	.nav-item:focus .background {
		opacity: 1;
    z-index: 10;
	}
</style>