---
import { memories } from '@/logic/memories'
import { member } from '@/logic/memories'
import Modal from '@/components/Modal.astro'
---
<article class="flex flex-col justify-center items-center mt-20">
 
  <h2 class="font-Merri text-center font-bold text-4xl text-blue-100/90 mb-5"> Recuerdos del Grupo </h2>
  <span class="text-2xl text-yellow-300/90"> Los Papus </span>
  <section class="flex items-center gap-5 members_group">
  {member.map(({ id, class_member }) => (
    //Actualizar y para no escribir el nombre del grupo de amigos
    class_member === 'papus' && (
      <picture
        class={`image-container ${class_member}`}
        data-url={`/img/${id}/${id}-small.webp`}
      >
        <img
          decoding="async"
          loading="lazy"
          src={`/img/${id}/${id}-small.webp`}
          alt={`image of ${id}`}
          class="h-12 w-12 lg:w-10 lg:h-10 md:w-10 md:h-10 object-cover rounded-full shadow-blue-500/50 shadow-md"
        />
      </picture>
    )
  ))}
</section>
  <section class="grid grid-cols-2 md:grid-cols-4 gap-5 p-2 md:p-5">
    {
      memories.map(({ id, image, className }) => (
        <picture class={`image-container ${className}`} data-url={image}>
          <img 
            decoding="async"
            loading="lazy"
            src={image} 
            alt={`image of ${id}`} 
            class="size-full rounded-lg object-cover cursor-zoom-in" />
        </picture>
      ))
    }
  </section>

  <Modal className="clip-dialog" id="close-dialog" isButton={true}>
    <img decoding="async" loading="lazy" src='' alt="" id="image-clip" class="rounded-lg size-full">
  </Modal>
</article>

<script>
  import { showModal } from '@/const/showModal'

  document.addEventListener('astro:page-load', showModal)
</script>

<script>
	import { toastAlert } from '@/function/alerts'

	document.addEventListener('DOMContentLoaded', () => {
		toastAlert({ title: 'Los resultados ya están disponibles', type: 'success', icon: true, dismissible: false, location: 'bottom-left' })
	})
</script>

<style>
  @media (max-width: 768px) {
  .members_group {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    gap: 1;
    text-align: center;
  }
}

  </style>
