---
import { memories_1 } from '@/logic/memories'
import Modal from '@/components/Modal.astro'
import SectionDownload from '@/sections/SectionDownload.astro'
import ShowMemories from '@/components/memories/ShowMemories.astro'

const groupPapus = memories_1.find((group) => group.id_group === 'papus')

const secondGroup = memories_1.find((group) => group.id_group === 'Marthas Temporada 6')

const groupPusey = memories_1.find((group) => group.id_group === 'pusey')

const { imagesGalery, members, id_group } = groupPapus
const { imagesGalery: imagesGalery2, members: members2, id_group: id_group2 } = secondGroup
const { imagesGalery: imagesGalery3, members: members3, id_group: id_group3 } = groupPusey
---
<article class="flex flex-col justify-center items-center mt-20">
  <h2 class="font-Merri text-center font-bold text-4xl text-blue-100/90 mb-5"> Recuerdos del Grupo </h2>

  <ShowMemories id_group={id_group} members={members} imagesGalery={imagesGalery} />

  <ShowMemories id_group={id_group2} members={members2} imagesGalery={imagesGalery2} />

  <ShowMemories id_group={id_group3} members={members3} imagesGalery={imagesGalery3} />

  <SectionDownload  idButton="button-download-memories" textDownload="Descargar el Ãlbum Completo" />

  <Modal className="clip-dialog" id="close-dialog" isButton={true}>
    <img decoding="async" loading="lazy" src='' alt="" id="image-clip" class="rounded-lg size-full">
  </Modal>
</article>

<script>
  import { showModal } from '@/const/showModal'
  import { $, $$ } from '@/lib/dom-selector'
  import { downloadImages } from '@/function/downloadImages'

  document.addEventListener('astro:page-load', () => {
    const $containerImages = $$('.image-container') as NodeListOf<HTMLPictureElement>
    const $buttonDownload = $('#button-download-memories') as HTMLButtonElement

    $buttonDownload?.addEventListener('click', () => downloadImages({$buttonDownload, $containerImages}))

    showModal()
  })
</script>
