---
import { memesImages } from "@/logic/memes"

interface Props {
  classPicture?: string
  classImage?: string
  votes?: string[]
}

const { classPicture, classImage, votes } = Astro.props
---

<div class="mt-5 grid grid-cols-2 gap-5 sm:grid-cols-4">
  {
    memesImages.map((memeImage) => (
      <picture class={`relative cursor-zoom-in border rounded-lg ${classPicture} ${memeImage.class}`} data-url={memeImage.image} data-vote-id={memeImage.id}>
        <img
          decoding="async" 
          src={memeImage.image} 
          alt={`Imagen ${memeImage.id}`} 
          class:list={[
            `size-full object-fill rounded-lg ${classImage}`,
            {'is-voted': votes?.includes(memeImage.id) }
          ]}/>

          <span class:list={[
            'absolute bottom-0 left-20 text-2xl font-Dancing font-bold bg-black bg-opacity-50 rounded-bl-lg -skew-y-3 uppercase',
            {'hidden': !votes?.includes(memeImage.id)}
          ]}>
            Tu voto
          </span>
      </picture>
    ))
  }
</div>

<style>
  .is-voted {
    @apply saturate-100 pointer-events-none opacity-85;
  }
</style>